@charset "UTF-8";

/* Tufte CSS styles */
html {
  font-size: 15px;
}

body {
  margin-left: calc(50% - 75ch);
  margin-right: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 100ch;
  counter-reset: sidenote-counter;
  background-color: #151515;
  color: #ddd;
  line-height: 1;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > footer,
section > table {
  width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  display: none;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
  color: inherit;
}

.no-tufte-underline:link {
  background: unset;
  text-shadow: unset;
}

a:link,
.tufte-underline,
.hover-tufte-underline:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(#fffff8, #fffff8),
    linear-gradient(#fffff8, #fffff8),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link,
  .tufte-underline,
  .hover-tufte-underline:hover {
    background-position-y: 87%, 87%, 87%;
  }
}

a:link::selection,
a:link::-moz-selection {
  background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-height: 80vh;
  max-width: 100%;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.03em;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.task-list {
  list-style: none;
}
.author {
  display: inline-block;
  width: 75%;
}
.date {
  display: inline;
}

button {
  outline: none;
  border: none;
  background-color: #444;
  color: inherit;
  padding: 1rem;
  font: inherit;
  border-radius: 0.3rem;
  margin-right: 0.7rem;
  cursor: pointer;
}
.audio-wrapper {
  display: inline-block;
}
/* Hide default audio controls */
audio::-webkit-media-controls {
  display: none !important;
}

/* Position speaker icon */
.speaker-icon {
  display: block;
  width: fit-content;
}

/* Position audio player */
.audio-player {
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 9999;
}

/* Position audio controls */
.audio-controls {
  width: 100%;
  text-align: center;
  z-index: 9999;
  display: none;
}

#speed_label {
  font-size: 24px;
  display: inline-block;
  margin-right: 0.7rem;
}

.speed_wrapper,
.progress-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.audio-speed-control {
  width: 90%;
  height: 5px;
  background: #eee;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.audio-speed-control:hover {
  opacity: 1;
}

.audio-speed-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

/* Show audio player when speaker icon is clicked */
.audio-wrapper.show-audio .audio-player {
  display: block;
}
/* Position progress bar container */
.progress-bar-container {
  width: 85%;
  height: 5px;
  background-color: #eee;
  margin-top: 5px;
  position: relative;
}

/* Style progress bar */
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #333;
}

.progress-wrapper button {
  outline: none;
  border: none;
  background: none;
  color: inherit;
  font-size: 24px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #151515;
  margin: 15% auto;
  padding: 1rem;
  width: fit-content;
  border-radius: 0.3rem;
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"], textarea{
  background-color: inherit;
  color:inherit;
  font-size:1.2rem;
  outline:none;
  font-family:inherit;
}

input[type="text"]{
  padding:0;
  border:none;
  border-bottom:0.15rem solid #ddd;
}

textarea{
  padding:0.5rem;
  border: 0.15rem solid #ddd;
  width:100%;
  height:5rem;
  resize: none;
  border-radius: 0.3rem;
}

textarea:focus, input[type="text"]:focus{
  border-color: #11d;
}


.radioCorrect{
  float:right;
  width:20%;
}

/* Style the radio buttons */
label {
  display:flex;
  align-items: center;
  cursor: pointer;
  color: #ddd;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0.1rem;
}

input[type="radio"] {
  position: relative;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid #ddd;
  border-radius: 50%;
  transition: all 0.2s ease;
  margin-right:0.5rem;
}

/* Change the radio button appearance when it's checked */
input[type="radio"]:checked::before {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
}

.droptarget {
  display: inline-block;
  min-width: 3rem;
  min-height: 1rem;
  border: 0.15rem dashed #77d;
  text-align: center;
}

.container {
  display: flex;
  padding: 0.3rem;
  padding-bottom: 2rem;
  margin: 0.5rem;
  min-height: 5rem;
  min-width: 3rem;
  background: #111;
  border-radius: 0.3rem;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  flex:0.25;
}

.container p {
  margin: 0.3rem !important;
}

.dragtarget {
  background-color: #222;
  padding: 0.1rem;
  border-radius: 0.3rem;
  text-align: center;
  margin: 0;
}

.questions {
  flex:0.75;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 1.2rem;
    line-height: 2rem;
}

#DnDWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
@media (max-width: 760px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  body {
    margin: auto;
  }
  input[id^="sn-"]:checked + .sidenote {
    display: block;
  }
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }
}
/* show the sidenote on wider screens */
@media only screen and (min-width: 1300px) {
  .sidenote {
    display: inline;
  }
}
@media print{
body {
	font-family: Georgia, "Times New Roman", Times, serif;
  color: #151515;
background-color: #ddd;
  }
  .audio-wrapper, #myModal, #openModal{
    display:none;
  }
  table, p{
    break-inside: avoid;
  }
}



